@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Super Retro Italic';
  src: url('/fonts/super_retro_m54/Super Retro Italic M54.ttf') format('truetype'),
}

body {
  font-family: "Urbanist", sans-serif;
}

.fontSuperRetroItalic {
  font-family: "Super Retro Italic";
}

.rdrInRange, .rdrStartEdge, .rdrEndEdge {
  background-color: #FF0000 !important;
}

.rdrDateDisplayWrapper {
  background-color: transparent;
}

.swiper-slide-active {
  font-size: medium !important;
  color: #000;
}